<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @site.address %>
</p>

<p>
  <strong>Iscurrent:</strong>
  <%= @site.isCurrent %>
</p>

<p>
  <strong>:</strong>
  <%= @site. %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @site.manager %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @site.contact %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
